@model DiceValues
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Анохин Максим</h1>
    <p>Кидалка кубиков, собранная на <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
    <label>@ViewData["roller"]</label>

    @foreach (int siir in Model.Result)
    {
        <p>@siir</p>
    }
    <p>@Model.Shas</p>
    <p>@Model.Avg</p>
    <form method="POST" action="/Home/Roll">
        <div style="margin: 0 0 10px 0;">
            <p>Количество кубиков</p>
            <input type="number" maxlength="3" value=@Model.Q name="Q">
        </div>
        <div style="margin: 0 0 10px 0;">
            <p>Количество граней</p>
            <input type="number" maxlength="3" value=@Model.E name="E">
        </div>
        <div style="margin: 0 0 10px 0;">
            <input type="submit" value="Бросок">
        </div>
    </form>

</div>
